<div class="content container">
    <div>
        <h1> Deadline for application: 10/11/20 <button mat-icon-button aria-label="Edit">
            <mat-icon>build</mat-icon>
          </button> </h1>
        <div class="insidesplit">
            
            <div class="right">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid in, labore ipsum libero eius praesentium maxime distinctio cupiditate vero nesciunt. Vel dolorum quia facilis sed inventore sequi rem! Illum, porro.</p>
    </div>
    <div class="left">
        <img src="assets/unnamed.png" alt="bnp" width="200" height="75" >

       
    </div>
    </div>
    </div>
    
        <div>
            <h1> Deadline for application: 12/11/20 <button mat-icon-button aria-label="Edit">
                <mat-icon>build</mat-icon>
              </button></h1>
            <div class="insidesplit">
                <div class="right">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid in, labore ipsum libero eius praesentium maxime distinctio cupiditate vero nesciunt. Vel dolorum quia facilis sed inventore sequi rem! Illum, porro.</p>
        </div>
        <div class="left">
            <img src="assets/amazon.png" alt="amazon" width="200" height="50">
           
        </div>
        </div>
        
            <div>
                <h1> Deadline for application: 10/10/20 <button mat-icon-button aria-label="Edit">
                    <mat-icon>build</mat-icon>
                  </button></h1>
                <div class="insidesplit">
                    <div class="right">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid in, labore ipsum libero eius praesentium maxime distinctio cupiditate vero nesciunt. Vel dolorum quia facilis sed inventore sequi rem! Illum, porro.</p>
            </div>
            <div class="left">
                <img src="assets/image_news_get.png" alt="news" width="200" height="50">
               
            </div>
            </div>
            
                <div>
                    <h1> Deadline for application: 10/12/20 <button mat-icon-button aria-label="Edit">
                        <mat-icon>build</mat-icon>
                      </button></h1>
                    <div class="insidesplit">
                        <div class="right">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid in, labore ipsum libero eius praesentium maxime distinctio cupiditate vero nesciunt. Vel dolorum quia facilis sed inventore sequi rem! Illum, porro.</p>
                </div>
                <div class="left">
                
                    <img src="assets/Google.png" alt="Google" width="200" height="75">
                </div>
                </div>
                
                    <div>
                        <h1> Deadline for application: 09/11/20 <button mat-icon-button aria-label="Edit">
                            <mat-icon>build</mat-icon>
                          </button></h1>
                        <div class="insidesplit">
                            <div class="right">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid in, labore ipsum libero eius praesentium maxime distinctio cupiditate vero nesciunt. Vel dolorum quia facilis sed inventore sequi rem! Illum, porro.</p>
                    </div>
                    <div class="left">
                        <img src="assets/incept.png" alt="incept" width="200" height="50">
                       
                    </div>
                   
                    </div>
                   